.verify{
    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        .verifyParam{
            width: 30%;
            p{
                font-size: 16px;
                font-weight: bold;
            }
            .chooseVersion{
                 span{
                     margin-right: 30px;
                 }
            }
            .sliderBox{
                .slider{
                    margin-top: 20px;
                }
            }
        }
        .picture{
            p{
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
    .verifyBtn{
        margin-top: 20px;
    }
}